{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "prettier",
    "plugin:@typescript-eslint/recommended",
    // Removed "plugin:react-hooks/recommended" to avoid duplicate loading
    "next/core-web-vitals"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "@typescript-eslint/no-inferrable-types": 0,
    "@typescript-eslint/no-unused-vars": 2,
    "@typescript-eslint/no-var-requires": 0,
    "@next/next/no-img-element": "off",
    "@next/next/no-page-custom-font": "off",
    "jsx-a11y/alt-text": "off",
    "react/display-name": "off",
    "react/no-children-prop": "off",
    "react/jsx-max-props-per-line": [
      0,
      {
        "maximum": 1
      }
    ]
  }
}